// https://stackoverflow.com/questions/17598996/sass-use-variables-across-multiple-files
@use "variables" as v;
@import url(cssreset.css);
@import url(attribution.css);
@import url(fonts.css);

// Sass in 100 Seconds: https://www.youtube.com/watch?v=akDIJa0AP5c
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.no-margin {
  margin: 0;
}

main {
  @include flex-column;
  background-color: v.$very-light-gray;
  font-family: "Poppins";
  padding: 2em;
  gap: 5rem;
}

.introduction {
  display: grid;
  text-align: center;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction
.headings {
  display: flex;
  flex-direction: column-reverse;
}

h1 {
  font-size: 1.5rem;
}

.card--section {
  @include flex-column;
  align-items: center;
  gap: 1.5rem;
}

.card {
  background-color: v.$white;
  max-width: 21.875rem;
  box-shadow: 0 1rem 1.5rem v.$grayish-blue;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 2rem;
}

.card__content {
  padding: 2rem;

  .content__title {
    margin: 0;
  }
  .content__text {
    margin-top: 0.25rem;
  }
  .content__icon {
    margin-top: 2rem;
    float: right;
  }
}

.card__line {
  height: 0.25rem;
}

// #supervisor > .card__line {
//   background-color: v.$cyan;
// }

// #team-builder > .card__line {
//   background-color: v.$red;
// }

// #karma > .card__line {
//   background-color: v.$orange;
// }

// #calculator > .card__line {
//   background-color: v.$blue;
// }

// https://www.koderhq.com/tutorial/sass/iteration-control/
$i: 1;
@each $color in v.$card-line-color {
  #card-#{$i} {
    .card__line {
      background-color: nth(v.$card-line-color, $i);
    }
  }
  $i: $i + 1;
}

// @for $i from 1 through 4 {
//   #card-#{$i} {
//     .card__line {
//       background-color: nth(v.$card-line-color, $i);
//     }
//   }
// }