@import url(cssreset.css);
@import url(variables.scss);
@import url(attribution.css);
@import url(fonts.css);

// Sass in 100 Seconds: https://www.youtube.com/watch?v=akDIJa0AP5c
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

main {
  @include flex-column;
  background-color: $very-light-gray;
  font-family: "Poppins";
  padding: 2em;
  gap: 5rem;
}

.introduction {
  display: grid;
  gap: 1rem;
  text-align: center;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction
.headings {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

h1 {
  font-size: 1.5rem;
}

.card-section {
  @include flex-column;
  align-items: center;
  gap: 1.5rem;
}

.card {
  background-color: $white;
  max-width: 21.875rem;
  box-shadow: 0 1rem 1.5rem $grayish-blue;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 2rem;
}

.card-content {
  padding: 2rem;
}

.card-content {
  p {
    margin-top: 0.25rem;
  }
  img {
    margin-top: 2rem;
    float: right;
  }
}

.line-color {
  height: 0.25rem;
}

#supervisor > .line-color {
  background-color: $cyan;
}

#team-builder > .line-color {
  background-color: $red;
}

#karma > .line-color {
  background-color: $orange;
}

#calculator > .line-color {
  background-color: $blue;
}
